
*{
    margin: 0px;
    padding: 0px;
}

*{
    text-decoration: none;
}

input:focus{
    outline: none;
}


/*fb header*/
.fb-top-header.px-3.shadow-sm {
    padding-top: 8px;
    padding-bottom: 3px;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
}

li{ 
    list-style: none;
    display: inline;
}
ul{
    margin-bottom: 0px;
}

/* fb-brands 
=============
*/
.fb-brands{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fb-brands .search {
    display: inline-block;
    position: relative;
    margin-left: 10px;
}
.fb-brands a img {
    width: 34px;
    height: 34px;
}
/* .fb-brands {
    background-image: url(./asets/img/facebook.png);
    height: 31px;
    width: 35px;
    background-size: cover;
} */

.fb-brands .search input {
    border-radius: 50px;
    border: none;
    background: #f7f7f7;
    padding: 5px 40px;
}
.fb-brands .search button {
    border: none;
    position: absolute;
    left: 15px;
    top: 5px;
}


/* fb-menu
=============
*/
.fb-menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    margin-bottom: 0px;

}
.fb-menu ul li{
    width: 100%;
    text-align: center;
    height: 115%;
    position: relative;

}
.fb-menu ul li a{
    display: block;
    color: #4d5158;
}
.fb-menu ul li.active a { 
    color: #0d6efd;
}
.fb-menu ul li.active::before{

    content: '';
    width: 100%;
    height: 3px;
    display: block;
    background-color: #0d6efd;
    position: absolute;
    top: 100%;
    left: 0px;
    bottom: 0px;


}


/* fb-auth 
=============
*/

.fb-auth ul li img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.fb-auth ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.fb-auth ul li{
    margin-right: 10px;
}
.fb-auth ul li a{
    
}
.fb-auth ul li a {
    color: #050505;
    background-color: #e4e6eb;
    display: block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 34px;
    text-align: center;
}

/* fb-body
=============
*/
.fb-body{
    background-color: #f0f2f5;
    padding-top: 70px;
    min-height: 100vh;

}
.list .list-icon img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
.list{
    display: flex;
    flex-direction: row;
    vertical-align: bottom;
}
.list-title {
    margin-left: 10px;
    vertical-align: middle;
    color: #050505;
    line-height: 35px;
}



/* <!-- .story-area --> */
.fb-story-area{

    display: flex;
    justify-content: space-between;
}

.fb-story-area .sotory-box {
    width: 115px;
    height: 170px;
    background-color: rgb(92, 176, 152);
    border-radius: 5px;
    padding: 10px;
    background-size: auto 100%;
    background-position: center center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    transition: .3s ease-in-out;
}

.fb-story-area .sotory-box:hover {
    background-size: auto 110%;

}
.fb-story-area .sotory-box:nth-child(1){
    background-image: url(./asets/img/fb-allv009.jpg);
}
.fb-story-area .sotory-box:nth-child(2){
    background-image: url(./asets/img/fb-allv028.jpg);
}
.fb-story-area .sotory-box:nth-child(3){
    background-image: url(./asets/img/fb-allv022.jpg);
}
.fb-story-area .sotory-box:nth-child(4){
    background-image: url(./asets/img/fb-allv041.jpg);
}
.fb-story-area .sotory-box:nth-child(5){
    background-image: url(./asets/img/fb-allv042.jpg);
}
.fb-story-area .sotory-box .user-avatar img{
    width: 25px;
    border-radius: 50%;
}
.fb-story-area .sotory-box .user-avatar{
    width: 30px;
    height: 30px; 
    overflow: hidden;
    border: 3px solid #1877f2;
    border-radius: 50%;
  
}


.fb-story-area .sotory-box span{
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.fb-story-area .sotory-box .user-avatar{
position: relative;
}

 
.fb-story-area .sotory-box .won-story {
    background-color: white;
    height: 32px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    padding: 24px 6px ;
}
.fb-story-area .sotory-box .won-story span{
    color: #050505;
}
.won-story a i {
    background: #2e89ff;
    color: white; 
    border-radius: 50%;
    position: relative;
    border: 3px solid white;
    bottom: 42px;
    height: 36px;
    width: 36px;
    line-height: 30px;
    text-align: center;
}

/* <!-- post modal area --> */
.modal-button {
    padding-bottom: 12px;
}

.post-modal-area .modal-button img{
    width: 52px;
    border-radius: 50%;
}
.post-modal-area .modal-button button{
    background-color: #f0f2f5;
    border: none;
    padding: 10px;
    width: 90%;
    border-radius: 50px;
    text-align: left;
}
.post-modal-area .modal-button button:hover{
    background-color: #dadada;
}

/* icon-area */

.card-body {
    padding-bottom: 9px !important;
}

.icon-area{
    display: flex;
    justify-content: space-between;
}
.icon-area .icon-box{
    padding: 10px 13px;
    border-radius: 8px;
    flex: 1;
    text-align: center; 
    cursor: pointer;
}



.icon-area .icon-box:nth-child(1) svg{
    color: #e73f5a;
    font-size: 24px;
}
.icon-area .icon-box:nth-child(2) svg{
    font-size: 24px;
    color: #45bd62;
}
.icon-area .icon-box:nth-child(3) svg{
    font-size: 24px;
    color: #f7b928;
}

.icon-area .icon-box:hover{
    background-color: #f2f2f2;

}
.icon-area {
    border-top: 2px solid #f0f2f5;
}



/* post-timeline-area */
.post-timeline-area .post-auth-area{
    display: flex;
    justify-content: space-between;
}
.post-timeline-area .post-auth-area .user-info .dtails span{
    display: block;
    margin-left: 10px;
    font-weight: bold;

}
.post-timeline-area .post-auth-area .user-info{
    display: flex;
}
.post-timeline-area .post-auth-area .user-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}